<% include header %>
 <script src="javascripts/jquery.storageapi.js"> </script>
<style>


.done-true {
  text-decoration: line-through;
  color: #ddd;
}


</style>

<div class="container" ng-app="App" ng-controller="AppCtrl">

    
  <h2>You've got <span class="emphasis">{{ getTotalTodos() }}</span> things to do</h2>
      <ul>
        <li ng-repeat="mytodo in userprofile.todos">
          <input type="checkbox" ng-model="todo.done" ng-click="checkboxCheck(mytodo.id)"/>
          <span class="done-{{ todo.done }}"> {{ mytodo.id }} -  {{mytodo.todo}}</span>
        </li>
      </ul>
      <form>
        <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" />
        <button class="add-btn" ng-click="addTodo()">Add</button>
         

      <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
      <button class="clear-btn" ng-click="alltodos()">Load</button>
      
      </form>

<hr /> 

<input type="text" ng-model='myusername' placeholder="update username">  
 <button class="add-btn" ng-click="updateUsername(myusername)">Add</button>
  <button class="add-btn" ng-click="checkLocalStorage()">Log userobject from LS</button>
{{ myusername }}



      

<hr />
<h1>{{songs.title}}</h1>
    
<hr />



  </div>

<script>

var myArray = [

{id: 1, todo: '1st todo', done: true},

{id: 2, todo: '2nd false todo', done: false},

];


var searchItem = function(){

var result = $.grep(myArray, function(e){ 

  return e.todo.indexOf('2nd') == 0; 

});


//return e.code.indexOf('ENCH3TH') == 0;

console.log(result);

};

searchItem();



</script>


  

<!-- Controllers -->
  <script>


 var socket = io.connect('http://localhost:3000');





var app = angular.module('App', []);
    
app.controller("AppCtrl", function($scope) {


$scope.userprofile = {

  'username': '',
  'location': '',
  'todos': [
      {id: 1, todo: 'get ready!!', done: false},
      {id: 2, todo: 'get ready 2!!', done: false},
      {id: 3, todo: 'get ready 3!!', done: false}
      ]
};


$scope.updateUsername = function(newName) {

    console.log(newName);
    $scope.userprofile.username = newName;
    console.log($scope.userprofile.username);
    localStorage.setItem('myobj', JSON.stringify($scope.userprofile));
    console.log('This object has been save' + JSON.stringify($scope.userprofile) );
    $scope.myusername = ''; 

};

$scope.checkLocalStorage = function() {
    //Function to log userobject from localstorage
    var myobjectin = localStorage.getItem('myobj');
    console.log(JSON.parse(myobjectin));

    console.log($scope.userprofile);


};

$scope.getTotalTodos = function () {
      return $scope.userprofile.todos.length;
};



$scope.addTodo = function () {

$scope.userprofile.todos.push({todo:$scope.formTodoText, done:false});
localStorage.setItem('myobj', JSON.stringify($scope.userprofile));

//clear the text box 
$scope.formTodoText = '';
};

$scope.clearCompleted = function () {
$scope.userprofile.todos = _.filter($scope.userprofile.todos, function(todo){
return !todo.done;
});
};  

$scope.clearAll =function() {



};  

$scope.checkboxCheck = function(todoID) {

  //console.log(todoID);
  console.log($scope.userprofile.todos.length + 'array items..')


//remove array 
  function removeItem(array, item){
    for(var i in array){
        if(array[i].id == item){
            array.splice(i,1);
            break;
            }
    }
}

removeItem($scope.userprofile.todos, todoID)




};



function removeItem(array, item){
    for(var i in array){
        if(array[i]==item){
            array.splice(i,1);
            break;
            }
    }
}



    
            });


  </script>


<% include footer %>