<% include header %>

<style>


.done-true {
  text-decoration: line-through;
  color: #ddd;
}

.closeTodo {
  display: none;
}

.todoItem:hover .closeTodo {
    display: inline-block;
}

.todoItem {
  list-style: none;
}


.listul {
  
  padding-left: 0px;
}

#background {
  background-size: cover;
  position: absolute;
  z-index: 1;
}


.container {
  z-index: 2; 
}
</style>



<div class="container" >


    
<h4> Hello, {{ userprofile.username }} </h4>

<h4> {{serverTime}} </h4>

<h4> {{ randomBack }} </h4>

<form>

<input id= "addtodoinput" class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" />

<button type="button" class="btn btn-success btn-sm" ng-click="addTodo()">Add</button>
 

 <ul class="listul">
    <li ng-repeat="mytodo in userprofile.todos track by $index" class="todoItem">
   
    <span class="done-{{ todo.done }}"> {{mytodo.todo}}</span>
    <span class="glyphicon glyphicon-remove-circle closeTodo" ng-click="checkboxCheck(mytodo.id)"></span>
    </li>
</ul>

</form>

      <h5>You've got <span class="emphasis">{{ getTotalTodos() }}</span> things to do</h5>

<hr /> 

<input type="text" ng-model='myusername' placeholder="update username">  
 <button class="add-btn" ng-click="updateUsername(myusername)">Add</button>
  <button class="add-btn" ng-click="checkLocalStorage()">Log userobject from LS</button>
{{ myusername }}


<hr />
<h1>{{songs.title}}</h1>
    
<hr />



  </div>

<script>


soundManager.setup({

    // where to find the SWF files, if needed
    url: '/path/to/swf-directory/',

    onready: function() {
      // SM2 has loaded, API ready to use e.g., createSound() etc.

    var mySound = soundManager.createSound({
    url: 'http://www.southpawgroup.com/gidimusicplayer/gidimusic/newplayer/songs/Various/Johnny.mp3'
    });
    


    },

    ontimeout: function() {
      // Uh-oh. No HTML5 support, SWF missing, Flash blocked or other issue
    }

});





</script>


  

<!-- Controllers -->
  <script>


var app = angular.module('App', []);
app.controller("AppCtrl", function($scope, $http) {

var socket = io.connect();

socket.on('onNewDate', function(data){

  $scope.serverTime = data.times;
  $scope.$apply();
  //console.log(data.times);
});

/*
$scope.backgrounds = ['http://southpawgroup.com/bk/1.jpg',
                    'http://southpawgroup.com/bk/2.jpg',
                    'http://southpawgroup.com/bk/3.jpg',
                    'http://southpawgroup.com/bk/4.jpg'
];
*/


//$scope.randomBack = $scope.backgrounds[Math.floor(Math.random()*$scope.backgrounds.length)];


$scope.userprofile = {

  'username': '',
  'location': '',
  'todos': []
};



$scope.updateUsername = function(newName) {

    console.log(newName);
    $scope.userprofile.username = newName;
    console.log($scope.userprofile.username);
    localStorage.setItem('myobj', JSON.stringify($scope.userprofile));
    console.log('This object has been save' + JSON.stringify($scope.userprofile) );
    $scope.myusername = ''; 

};

$scope.checkLocalStorage = function() {
    //Function to log userobject from localstorage
    var myobjectin = JSON.parse(localStorage.getItem('myobj'));
    $scope.userprofile = myobjectin
};

//Sync todo list with localstorage on load
$scope.checkLocalStorage();


$scope.getTotalTodos = function () {
      var obj = $scope.userprofile.todos.length;
      return JSON.parse(obj);
};

//console.log($scope.checkLocalStorage());

/*
$scope.plusOne = function {
  var myobjectin = localStorage.getItem('numberOfTodos');
  return myobjectin;
}

*/

$scope.addTodo = function () {

localStorage.setItem('myobj', JSON.stringify($scope.userprofile));
console.log('saved to localstorage');

console.log($scope.userprofile.todos.length + 1);

localStorage.setItem('numberOfTodos', JSON.stringify($scope.userprofile.todos.length));

var newCount = JSON.parse(localStorage.getItem('numberOfTodos'));

$scope.userprofile.todos.push( {id:newCount + 1, todo:$scope.formTodoText, done:false});
localStorage.setItem('myobj', JSON.stringify($scope.userprofile));

//clear the text box 
$scope.formTodoText = '';
};

$scope.clearCompleted = function () {
$scope.userprofile.todos = _.filter($scope.userprofile.todos, function(todo){
return !todo.done;
});
};  



$scope.checkboxCheck = function(todoID) {

  //console.log(todoID);
  console.log($scope.userprofile.todos.length +' array items..')


//remove array based on todo ID
function removeItem(array, item){
  for(var i in array){
      if(array[i].id == item){
          array.splice(i,1);
          break;
          }
  }
};

removeItem($scope.userprofile.todos, todoID);

localStorage.setItem('myobj', JSON.stringify($scope.userprofile));

};


    
            });


  </script>


<% include footer %>