<% include header %>

<style>


.done-true {
  text-decoration: line-through;
  color: #ddd;
}

.closeTodo {
  display: none;
}

.todoItem:hover .closeTodo {
    display: inline-block;
}

.todoItem {
  list-style: none;
}


.listul {
  
  padding-left: 0px;

}

</style>

<div class="container" ng-app="App" ng-controller="AppCtrl">

    
  

<form>

<input id= "addtodoinput" class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" />

<button type="button" class="btn btn-success btn-sm" ng-click="addTodo()">Add</button>
 

 <ul class="listul">
    <li ng-repeat="mytodo in userprofile.todos track by $index" class="todoItem">
   
    <span class="done-{{ todo.done }}"> {{mytodo.todo}}</span>
    <span class="glyphicon glyphicon-remove-circle closeTodo" ng-click="checkboxCheck(mytodo.id)"></span>
    </li>
</ul>

</form>

      <h5>You've got <span class="emphasis">{{ getTotalTodos() }}</span> things to do</h5>

<hr /> 

<input type="text" ng-model='myusername' placeholder="update username">  
 <button class="add-btn" ng-click="updateUsername(myusername)">Add</button>
  <button class="add-btn" ng-click="checkLocalStorage()">Log userobject from LS</button>
{{ myusername }}



      

<hr />
<h1>{{songs.title}}</h1>
    
<hr />



  </div>

<script>


</script>


  

<!-- Controllers -->
  <script>
var socket = io.connect('http://localhost:3000');

var app = angular.module('App', []);
app.controller("AppCtrl", function($scope) {



$scope.userprofile = {

  'username': '',
  'location': '',
  'todos': []
};

$scope.updateUsername = function(newName) {

    console.log(newName);
    $scope.userprofile.username = newName;
    console.log($scope.userprofile.username);
    localStorage.setItem('myobj', JSON.stringify($scope.userprofile));
    console.log('This object has been save' + JSON.stringify($scope.userprofile) );
    $scope.myusername = ''; 

};

$scope.checkLocalStorage = function() {
    //Function to log userobject from localstorage
    var myobjectin = JSON.parse(localStorage.getItem('myobj'));
    
    console.log(myobjectin.todos[2]);
    $scope.userprofile = myobjectin



};
//Sync todo list with localstorage on load
$scope.checkLocalStorage();


$scope.getTotalTodos = function () {
      var obj = $scope.userprofile.todos.length;
      return JSON.parse(obj);
};

//console.log($scope.checkLocalStorage());

/*
$scope.plusOne = function {
  var myobjectin = localStorage.getItem('numberOfTodos');
  return myobjectin;
}

*/

$scope.addTodo = function () {

localStorage.setItem('myobj', JSON.stringify($scope.userprofile));
console.log('saved to localstorage');

console.log($scope.userprofile.todos.length + 1);

localStorage.setItem('numberOfTodos', JSON.stringify($scope.userprofile.todos.length));

var newCount = JSON.parse(localStorage.getItem('numberOfTodos'));

$scope.userprofile.todos.push( {id:newCount + 1, todo:$scope.formTodoText, done:false});
localStorage.setItem('myobj', JSON.stringify($scope.userprofile));

//clear the text box 
$scope.formTodoText = '';
};

$scope.clearCompleted = function () {
$scope.userprofile.todos = _.filter($scope.userprofile.todos, function(todo){
return !todo.done;
});
};  



$scope.checkboxCheck = function(todoID) {

  //console.log(todoID);
  console.log($scope.userprofile.todos.length +' array items..')


//remove array based on todo ID
function removeItem(array, item){
  for(var i in array){
      if(array[i].id == item){
          array.splice(i,1);
          break;
          }
  }
};

removeItem($scope.userprofile.todos, todoID);

localStorage.setItem('myobj', JSON.stringify($scope.userprofile));

};


    
            });


  </script>


<% include footer %>